# **Automatidata project**
**Course 1 - Foundations of Data Science**

Welcome to the Automatidata Project!

You have just started as a data professional in a fictional data consulting firm, Automatidata. Their client, the New York City Taxi and Limousine Commission (New York City TLC), has hired the Automatidata team for its reputation in helping their clients develop data-based solutions.

The team is still in the early stages of the project. You have received notice that New York City TLC has given the Automatidata team access to their data. To get clear insights, New York TLC's data must be inspected, key variables identified, and the dataset prepared for analysis.

A notebook was structured and prepared to help you in this project. Please complete the following questions.

# Course 1 End-of-course project: Inspect and analyze data

In this activity, you will examine data provided and prepare it for analysis.  This activity will help ensure the information is,

1.   Ready to answer questions and yield insights

2.   Ready for visualizations

3.   Ready for future hypothesis testing and statistical methods
<br/>    

**The purpose** of this project is to investigate and understand the data provided.
  
**The goal** is to use a dataframe contructed within Python, perform a cursory inspection of the provided dataset, and inform team members of your findings. 
<br/>  
*This activity has three parts:*

**Part 1:** Understand the situation 
* Prepare to understand and organize the provided taxi cab dataset and information.

**Part 2:** Understand the data

* Create a pandas dataframe for data learning, future exploratory data analysis (EDA), and statistical activities.

* Compile summary information about the data to inform next steps.

**Part 3:** Understand the variables

* Use insights from your examination of the summary data to guide deeper investigation into specific variables.


<br/> 
Follow the instructions and answer the following questions to complete the activity. Then, you will complete an Executive Summary using the questions listed on the PACE Strategy Document.

Be sure to complete this activity before moving on. The next course item will provide you with a completed exemplar to compare to your own work.

# **Identify data types and relevant variables using Python**

# **PACE stages**

Throughout these project notebooks, you'll see references to the problem-solving framework PACE. The following notebook components are labeled with the respective PACE stage: Plan, Analyze, Construct, and Execute.

## PACE: **Plan**

Consider the questions in your PACE Strategy Document and those below to craft your response:

### **Task 1. Understand the situation**

*   How can you best prepare to understand and organize the provided taxi cab information?

Getting to know the meaning of all variables in the dataset and their data types. Having a clear understanding of the data and additional context, especially in operations business is crucial for data analysis and machine learning tasks.

## PACE: **Analyze**

Consider the questions in your PACE Strategy Document to reflect on the Analyze stage.

### **Task 2a. Build dataframe**

Create a pandas dataframe for data learning, and future exploratory data analysis (EDA) and statistical activities.

**Code the following,**

*   import pandas as `pd`. pandas is used for buidling dataframes.

*   import numpy as `np`. numpy is imported with pandas

*   `df = pd.read_csv('Datasets\NYC taxi data.csv')`

**Note:** pair the data object name `df` with pandas functions to manipulate data, such as `df.groupby()`.

In [19]:
#Import libraries and packages listed above
import pandas as pd
import numpy as np

# Load dataset into dataframe
df = pd.read_csv('2017_Yellow_Taxi_Trip_Data.csv')
print("done")

done

### **Task 2b. Understand the data - Inspect the data**

View and inspect summary information about the dataframe by coding the following:

1. `df.head(10)`
2. `df.info()`
3. `df.describe()`

Consider the following two questions:

**Question 1:** When reviewing the `df.info()` output, what do you notice about the different variables? Are there any null values? Are all of the variables numeric? Does anything else stand out?

**Question 2:** When reviewing the `df.describe()` output, what do you notice about the distributions of each variable? Are there any questionable values?

Q1: There are not any null-values. Not every variable is numeric. The date-related columns are not in a datetime format.

Q2: Yes, there are some questionable values. In the 'RatecodeID' column, there are some values that are not in the expected range (1-6). Also in the 'fare_amount', 'extra', 'mta_tax', 'improvement_surcharge', 'total_amount' columns, there are some values that are not in the expected range (>=0).

In [20]:
df.head(10)

,ID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,100,231,1,N,1,13.0,0.0,0.5,0.3,2.76,0.0,16.56
1,35634249,1,04-11-17 14:53,04-11-17 15:19,1,1.80,186,43,1,N,1,16.0,0.0,0.5,0.3,4.00,0.0,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,262,236,1,N,1,6.5,0.0,0.5,0.3,1.45,0.0,8.75
3,38942136,2,05-07-17 13:17,05-07-17 13:48,1,3.70,188,97,1,N,1,20.5,0.0,0.5,0.3,6.39,0.0,27.69
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,4,112,1,N,2,16.5,0.5,0.5,0.3,0.00,0.0,17.80
5,23345809,2,03/25/2017 8:34:11 PM,03/25/2017 8:42:11 PM,6,2.30,161,236,1,N,1,9.0,0.5,0.5,0.3,2.06,0.0,12.36
6,37660487,2,05-03-17 19:04,05-03-17 20:03,1,12.83,79,241,1,N,1,47.5,1.0,0.5,0.3,9.86,0.0,59.16
7,69059411,2,08/15/2017 5:41:06 PM,08/15/2017 6:03:05 PM,1,2.98,237,114,1,N,1,16.0,1.0,0.5,0.3,1.78,0.0,19.58
8,8433159,2,02-04-17 16:17,02-04-17 16:29,1,1.20,234,249,1,N,2,9.0,0.0,0.5,0.3,0.00,0.0,9.80
9,95294817,1,11-10-17 15:20,11-10-17 15:40,1,1.60,239,237,1,N,1,13.0,0.0,0.5,0.3,2.75,0.0,16.55

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   PULocationID           22699 non-null  int64
 7   DOLocationID           22699 non-null  int64
 8   RatecodeID             22699 non-null  int64
 9   store_and_fwd_flag     22699 non-null  object
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  improvement_surcharge  22699 non-null  float64
 15  tip_amount             22699 non-null  float64
 16  tolls_amount           22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB

In [22]:
df.describe()

,ID,VendorID,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
count,2.269900e+04,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000
mean,5.675849e+07,1.556236,1.642319,2.913313,162.412353,161.527997,1.043394,1.336887,13.026629,0.333275,0.497445,0.299551,1.835781,0.312542,16.310502
std,3.274493e+07,0.496838,1.285231,3.653171,66.633373,70.139691,0.708391,0.496211,13.243791,0.463097,0.039465,0.015673,2.800626,1.399212,16.097295
min,1.212700e+04,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-120.000000,-1.000000,-0.500000,-0.300000,0.000000,0.000000,-120.300000
25%,2.852056e+07,1.000000,1.000000,0.990000,114.000000,112.000000,1.000000,1.000000,6.500000,0.000000,0.500000,0.300000,0.000000,0.000000,8.750000
50%,5.673150e+07,2.000000,1.000000,1.610000,162.000000,162.000000,1.000000,1.000000,9.500000,0.000000,0.500000,0.300000,1.350000,0.000000,11.800000
75%,8.537452e+07,2.000000,2.000000,3.060000,233.000000,233.000000,1.000000,2.000000,14.500000,0.500000,0.500000,0.300000,2.450000,0.000000,17.800000
max,1.134863e+08,2.000000,6.000000,33.960000,265.000000,265.000000,99.000000,4.000000,999.990000,4.500000,0.500000,0.300000,200.000000,19.100000,1200.290000

In [23]:
# 1. Convertir las columnas de fechas a formato datetime manejando formatos mixtos
# Al usar format='mixed', Pandas infiere inteligentemente los distintos formatos (MM/DD/YYYY vs MM-DD-YY)
date_cols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], format='mixed')
# 2. Filtrar 'RatecodeID' para mantener solo los valores en el rango esperado (1 a 6)
if 'RatecodeID' in df.columns:
    df = df[(df['RatecodeID'] >= 1) & (df['RatecodeID'] <= 6)]
# 3. Filtrar las columnas de montos para que todos los valores sean mayores o iguales a 0 (>= 0)
amount_cols = ['fare_amount', 'extra', 'mta_tax', 'improvement_surcharge', 'total_amount']
for col in amount_cols:
    if col in df.columns:
        df = df[df[col] >= 0]
# 4. Filtrar valores extremos en 'fare_amount' (como el 999.99)
if 'fare_amount' in df.columns:
    df = df[df['fare_amount'] < 450] # Descartamos valores de 450 o 999.99 a superiores
# Opcional: Mostrar un resumen para verificar que los rangos son correctos ahora
print("Limpieza completada. Filas restantes:", len(df))
display(df[amount_cols + ['RatecodeID']].describe())

Limpieza completada. Filas restantes: 22682

,fare_amount,extra,mta_tax,improvement_surcharge,total_amount,RatecodeID
count,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000
mean,12.976271,0.333767,0.498082,0.299921,16.254440,1.038577
std,11.092553,0.462827,0.030908,0.004879,13.709983,0.277553
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,6.500000,0.000000,0.500000,0.300000,8.750000,1.000000
50%,9.500000,0.000000,0.500000,0.300000,11.800000,1.000000
75%,14.500000,0.500000,0.500000,0.300000,17.800000,1.000000
max,200.010000,4.500000,0.500000,0.300000,258.210000,5.000000

In [24]:
df.head(10)

,ID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
0,24870114,2,2017-03-25 08:55:43,2017-03-25 09:09:47,6,3.34,100,231,1,N,1,13.0,0.0,0.5,0.3,2.76,0.0,16.56
1,35634249,1,2017-04-11 14:53:00,2017-04-11 15:19:00,1,1.80,186,43,1,N,1,16.0,0.0,0.5,0.3,4.00,0.0,20.80
2,106203690,1,2017-12-15 07:26:56,2017-12-15 07:34:08,1,1.00,262,236,1,N,1,6.5,0.0,0.5,0.3,1.45,0.0,8.75
3,38942136,2,2017-05-07 13:17:00,2017-05-07 13:48:00,1,3.70,188,97,1,N,1,20.5,0.0,0.5,0.3,6.39,0.0,27.69
4,30841670,2,2017-04-15 23:32:20,2017-04-15 23:49:03,1,4.37,4,112,1,N,2,16.5,0.5,0.5,0.3,0.00,0.0,17.80
5,23345809,2,2017-03-25 20:34:11,2017-03-25 20:42:11,6,2.30,161,236,1,N,1,9.0,0.5,0.5,0.3,2.06,0.0,12.36
6,37660487,2,2017-05-03 19:04:00,2017-05-03 20:03:00,1,12.83,79,241,1,N,1,47.5,1.0,0.5,0.3,9.86,0.0,59.16
7,69059411,2,2017-08-15 17:41:06,2017-08-15 18:03:05,1,2.98,237,114,1,N,1,16.0,1.0,0.5,0.3,1.78,0.0,19.58
8,8433159,2,2017-02-04 16:17:00,2017-02-04 16:29:00,1,1.20,234,249,1,N,2,9.0,0.0,0.5,0.3,0.00,0.0,9.80
9,95294817,1,2017-11-10 15:20:00,2017-11-10 15:40:00,1,1.60,239,237,1,N,1,13.0,0.0,0.5,0.3,2.75,0.0,16.55

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22682 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     22682 non-null  int64
 1   VendorID               22682 non-null  int64
 2   tpep_pickup_datetime   22682 non-null  datetime64[ns]
 3   tpep_dropoff_datetime  22682 non-null  datetime64[ns]
 4   passenger_count        22682 non-null  int64
 5   trip_distance          22682 non-null  float64
 6   PULocationID           22682 non-null  int64
 7   DOLocationID           22682 non-null  int64
 8   RatecodeID             22682 non-null  int64
 9   store_and_fwd_flag     22682 non-null  object
 10  payment_type           22682 non-null  int64
 11  fare_amount            22682 non-null  float64
 12  extra                  22682 non-null  float64
 13  mta_tax                22682 non-null  float64
 14  improvement_surcharge  22682 non-null  float64
 15  tip_amount             22682 non-null  float64
 16  tolls_amount           22682 non-null  float64
 17  total_amount           22682 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(7), object(1)
memory usage: 3.3+ MB

In [26]:
df.describe()

,ID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
count,2.268200e+04,22682.000000,22682,22682,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000
mean,5.675949e+07,1.555992,2017-06-29 07:30:46.500308480,2017-06-29 07:47:44.151000832,1.642315,2.915223,162.409929,161.532625,1.038577,1.335552,12.976271,0.333767,0.498082,0.299921,1.828340,0.312776,16.254440
min,1.212700e+04,1.000000,2017-01-01 00:08:00,2017-01-01 00:17:00,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.852650e+07,1.000000,2017-03-30 03:07:14.750000128,2017-03-30 03:09:46.750000128,1.000000,0.992500,114.000000,112.000000,1.000000,1.000000,6.500000,0.000000,0.500000,0.300000,0.000000,0.000000,8.750000
50%,5.673222e+07,2.000000,2017-06-23 12:51:06,2017-06-23 13:04:29,1.000000,1.610000,162.000000,162.000000,1.000000,1.000000,9.500000,0.000000,0.500000,0.300000,1.350000,0.000000,11.800000
75%,8.537328e+07,2.000000,2017-10-02 10:14:15,2017-10-02 10:22:30,2.000000,3.070000,233.000000,233.000000,1.000000,2.000000,14.500000,0.500000,0.500000,0.300000,2.450000,0.000000,17.800000
max,1.134863e+08,2.000000,2017-12-31 23:45:30,2017-12-31 23:49:24,6.000000,33.960000,265.000000,265.000000,5.000000,4.000000,200.010000,4.500000,0.500000,0.300000,55.500000,19.100000,258.210000
std,3.274287e+07,0.496866,NaN,NaN,1.285063,3.653837,66.628909,70.132670,0.277553,0.493291,11.092553,0.462827,0.030908,0.004879,2.472972,1.399710,13.709983

### **Task 2c. Understand the data - Investigate the variables**

Sort and interpret the data table for two variables:`trip_distance` and `total_amount`.

**Answer the following three questions:**

**Question 1:** Sort your first variable (`trip_distance`) from maximum to minimum value, do the values seem normal?

**Question 2:** Sort by your second variable (`total_amount`), are any values unusual?

**Question 3:** Are the resulting rows similar for both sorts? Why or why not?

Q1: The values seem normal, yes.

Q2: So unusual values. Some 0 values in `trip_distance` match with some of the largest `total_amount` values.

Q3: No, the resulting rows are not exactly the same. Because while `trip_distance` and `total_amount` are naturally positively correlated (longer trips usually cost more), the `total_amount` is affected by several other factors besides just distance. The `total_amount` includes tips, tolls, and surcharges. For example, a trip might not be the absolute longest in distance, but if it included expensive bridge tolls, heavy traffic (time-based fare), or a very generous tip, it will rank much higher in the `total_amount` sorting than in the `trip_distance` sorting.

In [27]:
# ==> ENTER YOUR CODE HERE

# Sort the data by trip distance from maximum to minimum value
df_trip_distance = df.sort_values(by='trip_distance', ascending=False)

# Opcional: Mostrar las primeras filas para verificar el ordenamiento
display(df_trip_distance.head(20))

,ID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
9280,51810714,2,2017-06-18 23:33:25,2017-06-19 00:12:38,2,33.96,132,265,5,N,2,150.00,0.0,0.0,0.3,0.00,0.00,150.30
13861,40523668,2,2017-05-19 08:20:21,2017-05-19 09:20:30,1,33.92,229,265,5,N,1,200.01,0.0,0.5,0.3,51.64,5.76,258.21
6064,49894023,2,2017-06-13 12:30:22,2017-06-13 13:37:51,1,32.72,138,1,3,N,1,107.00,0.0,0.0,0.3,55.50,16.26,179.06
10291,76319330,2,2017-09-11 11:41:00,2017-09-11 12:18:00,1,31.95,138,265,4,N,2,131.00,0.0,0.5,0.3,0.00,0.00,131.80
29,94052446,2,2017-11-06 20:30:00,2017-11-07 00:00:00,1,30.83,132,23,1,N,1,80.00,0.5,0.5,0.3,18.56,11.52,111.38
18130,90375786,1,2017-10-26 14:45:01,2017-10-26 16:12:49,1,30.50,132,220,1,N,1,90.50,0.0,0.5,0.3,19.85,8.16,119.31
5792,68023798,2,2017-08-11 14:14:00,2017-08-11 15:17:00,1,30.33,132,158,2,N,1,52.00,0.0,0.5,0.3,14.64,5.76,73.20
15350,77309977,2,2017-09-14 13:44:44,2017-09-14 14:34:29,1,28.23,13,132,2,N,1,52.00,0.0,0.5,0.3,4.40,5.76,62.96
10302,43431843,1,2017-05-15 08:11:34,2017-05-15 09:03:16,1,28.20,90,132,2,N,1,52.00,0.0,0.5,0.3,11.71,5.76,70.27
2592,51094874,2,2017-06-16 18:51:20,2017-06-16 19:41:42,1,27.97,261,132,2,N,2,52.00,4.5,0.5,0.3,0.00,5.76,63.06
20612,67238347,2,2017-08-08 21:01:00,2017-08-08 21:40:00,1,27.88,132,181,1,N,1,73.00,0.5,0.5,0.3,14.86,0.00,89.16
1908,81396251,2,2017-09-27 23:49:52,2017-09-28 00:26:29,2,27.34,132,181,1,N,1,72.50,0.5,0.5,0.3,14.76,0.00,88.56
20545,71466504,1,2017-08-24 13:03:49,2017-08-24 13:49:05,1,27.20,132,54,1,N,1,73.00,0.0,0.5,0.3,14.75,0.00,88.55
4138,100097208,2,2017-11-26 15:37:35,2017-11-26 16:50:22,2,26.86,132,52,1,N,1,75.00,0.0,0.5,0.3,18.95,0.00,94.75
15169,71224174,2,2017-08-23 16:20:15,2017-08-23 17:08:55,2,26.54,132,195,1,N,1,70.50,1.0,0.5,0.3,14.46,0.00,86.76
1496,27465882,2,2017-04-03 15:37:00,2017-04-03 16:44:00,1,26.39,132,261,2,N,1,52.00,0.0,0.5,0.3,11.71,5.76,70.27
7217,13572254,1,2017-02-20 14:28:11,2017-02-20 15:29:14,1,26.20,13,132,1,N,1,74.00,0.0,0.5,0.3,0.00,0.00,74.80
908,25075013,2,2017-03-27 13:01:38,2017-03-27 13:38:44,2,26.12,138,265,4,N,1,100.00,0.0,0.5,0.3,15.00,5.76,121.56
19483,34486843,2,2017-04-26 08:31:31,2017-04-26 11:10:50,1,26.12,132,48,2,N,2,52.00,0.0,0.5,0.3,0.00,5.76,58.56
4715,78418799,2,2017-09-17 20:04:24,2017-09-17 21:02:24,1,25.86,90,265,4,N,2,78.00,0.5,0.5,0.3,0.00,5.76,85.06

In [28]:
#==> ENTER YOUR CODE HERE

# Sort the data by total amount and print the top 20 values
df_distancexamount = df_trip_distance.sort_values(by='total_amount', ascending=False)
display(df_distancexamount.head(20))
# Si solo quieres ver esa columna especfica en lugar de todo el DataFrame, puedes usar:
# display(df_sorted_total['total_amount'].head(20))

,ID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
13861,40523668,2,2017-05-19 08:20:21,2017-05-19 09:20:30,1,33.92,229,265,5,N,1,200.01,0.0,0.5,0.3,51.64,5.76,258.21
12511,107108848,2,2017-12-17 18:24:24,2017-12-17 18:24:42,1,0.00,265,265,5,N,1,175.00,0.0,0.0,0.3,46.69,11.75,233.74
15474,55538852,2,2017-06-06 20:55:00,2017-06-06 20:55:00,1,0.00,265,265,5,N,1,200.00,0.0,0.5,0.3,11.00,0.00,211.80
6064,49894023,2,2017-06-13 12:30:22,2017-06-13 13:37:51,1,32.72,138,1,3,N,1,107.00,0.0,0.0,0.3,55.50,16.26,179.06
16379,101198443,2,2017-11-30 10:41:11,2017-11-30 11:31:45,1,25.50,132,265,5,N,2,140.00,0.0,0.5,0.3,0.00,16.26,157.06
3582,111653084,1,2017-01-01 23:53:00,2017-01-01 23:53:00,1,7.30,1,1,5,N,1,152.00,0.0,0.0,0.3,0.00,0.00,152.30
11269,51920669,1,2017-06-19 00:51:17,2017-06-19 00:52:12,2,0.00,265,265,5,N,1,120.00,0.0,0.0,0.3,20.00,11.52,151.82
9280,51810714,2,2017-06-18 23:33:25,2017-06-19 00:12:38,2,33.96,132,265,5,N,2,150.00,0.0,0.0,0.3,0.00,0.00,150.30
1928,51087145,1,2017-06-16 18:30:08,2017-06-16 19:18:50,2,12.50,211,265,5,N,1,120.00,0.0,0.0,0.3,5.00,12.50,137.80
10291,76319330,2,2017-09-11 11:41:00,2017-09-11 12:18:00,1,31.95,138,265,4,N,2,131.00,0.0,0.5,0.3,0.00,0.00,131.80
6708,91660295,2,2017-10-30 11:23:46,2017-10-30 11:23:49,1,0.32,264,83,5,N,1,100.00,0.0,0.5,0.3,25.20,0.00,126.00
11608,107690629,2,2017-12-19 17:00:56,2017-12-19 18:41:56,2,23.00,151,1,3,N,1,99.50,1.0,0.0,0.3,10.00,12.50,123.30
908,25075013,2,2017-03-27 13:01:38,2017-03-27 13:38:44,2,26.12,138,265,4,N,1,100.00,0.0,0.5,0.3,15.00,5.76,121.56
7281,111091850,2,2017-01-01 03:02:00,2017-01-01 03:03:00,1,0.00,265,265,5,N,1,100.00,0.0,0.5,0.3,20.16,0.00,120.96
18130,90375786,1,2017-10-26 14:45:01,2017-10-26 16:12:49,1,30.50,132,220,1,N,1,90.50,0.0,0.5,0.3,19.85,8.16,119.31
13621,93330154,1,2017-11-04 13:32:00,2017-11-04 14:18:00,2,19.80,265,230,5,N,1,105.00,0.0,0.0,0.3,8.00,2.64,115.94
13359,3055315,1,2017-01-12 07:19:00,2017-01-12 07:19:00,1,0.00,1,1,5,N,1,75.00,0.0,0.0,0.3,18.65,18.00,111.95
29,94052446,2,2017-11-06 20:30:00,2017-11-07 00:00:00,1,30.83,132,23,1,N,1,80.00,0.5,0.5,0.3,18.56,11.52,111.38
18888,93297612,2,2017-11-04 12:22:00,2017-11-04 13:08:00,6,17.98,230,1,3,N,1,73.50,0.0,0.0,0.3,18.36,18.00,110.16
11839,78875919,1,2017-09-19 16:33:48,2017-09-19 17:06:20,4,2.70,231,265,5,N,1,99.00,0.0,0.0,0.3,10.70,0.00,110.00

In [29]:
#==> ENTER YOUR CODE HERE

# Sort the data by total amount and print the bottom 20 values
display(df_distancexamount.tail(20))

,ID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
14468,75746755,2,2017-09-09 13:29:00,2017-09-09 13:29:00,3,0.02,162,162,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
20133,56978052,2,2017-07-03 15:00:00,2017-07-03 15:00:00,1,0.02,197,197,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
323,111191930,2,2017-01-14 19:04:51,2017-01-14 19:05:01,2,0.02,106,106,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
22035,104619808,2,2017-12-10 12:20:00,2017-12-10 12:20:00,1,0.09,234,234,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
12238,95544923,1,2017-11-11 09:28:00,2017-11-11 09:28:00,2,0.00,145,145,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
11357,109314731,2,2017-12-25 10:28:28,2017-12-25 10:28:38,2,0.06,141,141,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
8353,102516127,2,2017-12-04 10:12:00,2017-12-04 10:12:00,1,0.00,132,132,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
19776,109201567,2,2017-12-24 16:29:28,2017-12-24 16:30:23,1,0.07,262,263,1,N,2,2.50,0.0,0.5,0.3,0.0,0.0,3.30
6700,71953966,1,2017-08-26 07:33:22,2017-08-26 07:34:18,1,0.10,231,231,1,N,3,2.50,0.0,0.5,0.3,0.0,0.0,3.30
17747,49938639,1,2017-06-13 14:45:20,2017-06-13 14:46:07,1,0.10,144,144,1,N,3,2.50,0.0,0.5,0.3,0.0,0.0,3.30
10639,107989161,2,2017-12-20 15:20:42,2017-12-20 15:20:48,2,0.00,143,143,1,N,1,2.50,0.0,0.5,0.3,0.0,0.0,3.30
16341,66613595,1,2017-08-06 14:56:00,2017-08-06 14:56:00,1,0.10,230,100,1,N,3,2.50,0.0,0.5,0.3,0.0,0.0,3.30
22680,39375701,1,2017-05-16 06:35:44,2017-05-16 06:35:51,1,1.30,230,230,1,N,3,2.50,0.0,0.5,0.3,0.0,0.0,3.30
13970,14396394,2,2017-02-23 09:21:25,2017-02-23 09:21:57,1,0.00,7,7,5,N,2,1.00,0.0,0.0,0.3,0.0,0.0,1.30
14283,37675840,1,2017-05-03 19:44:00,2017-05-03 19:44:00,1,0.00,146,146,5,N,3,0.01,0.0,0.0,0.3,0.0,0.0,0.31
19067,58713019,1,2017-07-10 14:40:00,2017-07-10 14:40:00,1,0.10,261,13,5,N,3,0.00,0.0,0.0,0.3,0.0,0.0,0.30
5722,49670364,2,2017-06-12 12:08:00,2017-06-12 12:08:00,1,0.00,264,193,1,N,1,0.00,0.0,0.0,0.0,0.0,0.0,0.00
10506,26005024,2,2017-03-30 03:14:26,2017-03-30 03:14:28,1,0.00,264,193,1,N,1,0.00,0.0,0.0,0.0,0.0,0.0,0.00
4402,108016954,2,2017-12-20 16:06:53,2017-12-20 16:47:50,1,7.06,263,169,1,N,2,0.00,0.0,0.0,0.0,0.0,0.0,0.00
22566,19022898,2,2017-03-07 02:24:00,2017-03-07 02:24:00,1,0.00,264,193,1,N,1,0.00,0.0,0.0,0.0,0.0,0.0,0.00

In [30]:
#==> ENTER YOUR CODE HERE

# How many of each payment type are represented in the data?
# How many of each payment type are represented in the data?
payment_counts = df['payment_type'].value_counts()
print(payment_counts)

payment_type
1    15263
2     7266
3      114
4       39
Name: count, dtype: int64

According to the data dictionary, the payment method was encoded as follows:

1 = Credit card  
2 = Cash  
3 = No charge  
4 = Dispute  
5 = Unknown  
6 = Voided trip

In [ ]:
#==> ENTER YOUR CODE HERE

# What is the average tip for trips paid for with credit card?
# Filtrar por payment_type == 1 (Tarjeta de crdito) y calcular el promedio de 'tip_amount'
avg_tip_cc = df[df['payment_type'] == 1]['tip_amount'].mean()

print("Promedio de propina con tarjeta de crdito:", avg_tip_cc)


#==> ENTER YOUR CODE HERE

# What is the average tip for trips paid for with cash?
avg_tip_cash = df[df['payment_type'] == 2]['tip_amount'].mean()
print("Promedio de propina con efectivo:", avg_tip_cash)

Promedio de propina con tarjeta de crdito: 2.7170543143549764
Promedio de propina con efectivo: 0.0

In [35]:
#==> ENTER YOUR CODE HERE

# How many times is each vendor ID represented in the data? 
vendor_counts = df['VendorID'].value_counts()
print(vendor_counts)

VendorID
2    12611
1    10071
Name: count, dtype: int64

In [36]:
#==> ENTER YOUR CODE HERE

# What is the mean total amount for each vendor?
mean_amount_by_vendor = df.groupby('VendorID')['total_amount'].mean()
print(mean_amount_by_vendor)

VendorID
1    16.174428
2    16.318336
Name: total_amount, dtype: float64

In [40]:
#==> ENTER YOUR CODE HERE

# Filter the data for credit card payments only
credit_card_df = df[df['payment_type'] == 1]

# Opcional: Mostrar cuntas filas quedaron despus del filtro
print("Viajes pagados con tarjeta de crdito:", len(credit_card_df))

Viajes pagados con tarjeta de crdito: 15263

In [45]:
#==> ENTER YOUR CODE HERE

# Calculate the average tip amount for each passenger count (credit card payments only)
avg_tip_by_passenger = credit_card_df.groupby('passenger_count')['tip_amount'].mean()
# Mostrar los resultados
print(avg_tip_by_passenger)

passenger_count
0    2.710769
1    2.696706
2    2.829949
3    2.726800
4    2.607753
5    2.762645
6    2.643326
Name: tip_amount, dtype: float64

## PACE: **Construct**

**Note**: The Construct stage does not apply to this workflow. The PACE framework can be adapted to fit the specific requirements of any project.

## PACE: **Execute**

Consider the questions in your PACE Strategy Document and those below to craft your response.

### **Given your efforts, what can you summarize for DeShawn and the data team?**

*Note for Learners: Your notebook should contain data that can address Luana's requests. Which two variables are most helpful for building a predictive model for the client: NYC TLC?*

Based on the initial data inspection and cleaning, I would recommend the following investigations prior to deep Exploratory Data Analysis (EDA):

Investigate Negative Financial Values: I would ask the data engineering team or the vendor to clarify why we have negative values in columns like fare_amount and total_amount. Are these representing refunds, cancelled trips, or system glitches?

Examine Outliers: We found extreme values (e.g., fares of $999.99). We need to determine if these are legitimate long-distance trips (like out-of-state flat rates), severe data entry errors, or specific system error codes.

Clarify Unmapped Rate Codes: There were entries in RatecodeID outside the expected 1-6 standard dictionary range. We need an updated data dictionary to see if new zones or rates were added.

Understand 0-Distance Trips: There are trips with a trip_distance of 0.0 but a non-zero fare_amount. We need to define how to handle these (e.g., are they immediate passenger cancellations after the meter started?).

Cash Tip Constraints: It is highly likely that cash tips are not recorded by the meter system, leading to heavy biases of $0 tips for cash payments. We must acknowledge this limitation before building any models or analyses involving driver revenue.

**Congratulations!** You've completed this lab. However, you may not notice a green check mark next to this item on Coursera's platform. Please continue your progress regardless of the check mark. Just click on the "save" icon at the top of this notebook to ensure your work has been logged.